<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  </head>
  <body>
    <div style="margin: 5px;">
      <div><span>E-Mail : </span><input type="text" id="email" /></div>
      <div><span>Password : </span><input type="password" id="password" /></div>
      <div><button id="loginBtn" style="margin: 5px;">Login</button></div>
      <div><!--<a href="" style="margin: 5px;">-->Forgot password.<!--</a>--></div>
      <div><a href="{{url_for('auth.register')}}" style="margin: 5px;">Move to user registration page.</a></div>
    </div>
    <script>
      const email = document.getElementById('email');
      const password = document.getElementById('password');
      const loginBtn  = document.getElementById('loginBtn');

      function login() {
        let fData = new FormData();
        fData.append('email', email.value);
        fData.append('password', password.value);
        
        fetch("{{url_for('auth.login')}}", {
          method: 'POST',
          headers: {},
          body: fData
        }).then(response => {
          if (response.url != '') {
            window.location.href = response.url;
          }
          else {
            alert('Error', 'Occuring some error on login process.');
          }
        }).catch(
          error => console.log(error)
        );
      }
      loginBtn.addEventListener('click', login);
    </script>
  </body>
</html>
